In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./CensusData/sfo data/living_affordability_index_data.csv')

In [4]:
data.head()

,tract,hh_type1_income_min,hh_type1_income_max,hh_type1_income,hh_type1_size,hh_type1_workers,hh_type1_ht,hh_type1_h,hh_type1_t,hh_type1_autos,...,hh_type8_t_own,hh_type8_autos_own,hh_type8_vmt_own,hh_type8_transit_trips_own,hh_type8_ht_rent,hh_type8_h_rent,hh_type8_t_rent,hh_type8_autos_rent,hh_type8_vmt_rent,hh_type8_transit_trips_rent
0,'06001400100',77183.0,77183.0,77183.0,2.65,1.19,47.28747,31.95903,15.32843,1.94773,...,16.13171,2.41000,27157.68000,89.60589,43.90211,29.15137,14.75074,2.08000,27157.68000,93.33947
1,'06001400200',77183.0,77183.0,77183.0,2.65,1.19,43.23431,30.10330,13.13101,1.69130,...,14.36691,2.20462,22190.76540,199.78691,39.41608,26.68970,12.72638,1.81667,21875.40000,237.08225
2,'06001400300',77183.0,77183.0,77183.0,2.65,1.19,40.66207,28.91199,11.75008,1.48722,...,13.67481,2.12180,20169.85726,259.30578,36.20240,24.44092,11.76148,1.66884,19600.63630,332.20771
3,'06001400400',77183.0,77183.0,77183.0,2.65,1.19,39.16281,27.41638,11.74643,1.49303,...,13.57546,2.11423,19816.89993,264.92679,38.84974,26.93194,11.91780,1.70589,19597.30281,333.06634
4,'06001400500',77183.0,77183.0,77183.0,2.65,1.19,41.00672,29.56183,11.44490,1.43613,...,13.35552,2.07374,19499.73901,276.97406,35.66470,23.98322,11.68148,1.65176,19327.69432,364.89235

In [5]:
aff_data = data.iloc[:, [0, 7, 8]]

In [10]:
aff_data.loc[:, 'tract'] = aff_data.loc[:, 'tract'].str[1:-1]

In [12]:
aff_data = aff_data.set_index('tract')

In [14]:
aff_data.to_csv('./CensusData/sfo data/aff_index.csv')